body {
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    margin-top: 50px;
}

header {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 8;
    background-color: white !important;
}

nav.navbar {
    background-color: white !important;
}

.navbar-logo {
    height: 30px;  
    width: auto;  
}

.navbar-toggler {
    color: #5f0080;
}

.nav-link {
    color: #333333;
}

.nav-link:hover {
    color: #5f0080;
}

.dropdown-item:hover {
    color: #5f0080;
}

.btn-outline-secondary:hover {
    background-color: #5f0080 !important;
    color: white !important;
    border-color: #5f0080 !important;
}

/* 케러셀 */
.carousel-item {
    height: 400px;
}

.carousel-item img {
    height: 100%; 
    object-fit: cover; 
    width: 100%; 
}

.item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

.more-icon {
    width: 36px; 
    height: auto; 
    margin-left: 5px; 
}

.item-subtitle {
    color: gray;
}

.card {
    width: 100%; 
}

.card-text {
    color: #222222;
}

.card-img-top {
    width: 100%; 
    height: 270px; 
    object-fit: cover; 
}

/* 장바구니 담기 버튼 */
.btn-add-to-cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    color: #333333;
    margin-bottom: 15px;
    font-size: 15px;
}

.btn-add-to-cart:hover {
    background-color: #450055 !important; 
    border-color: #450055 !important; 
    color: white !important; 
}

.fa-cart-shopping {
    margin-right: 8px;
    font-size: 15px;
}

.img-scale-box {
  overflow: hidden;
}

.img-scale-box img {
  transition: transform 0.3s ease; 
}

.img-scale-box img:hover {
    transform: scale(1.03);
}
 
.price {
    color: black; 
    font-weight: bold; 
}

/* 애니메이션 */
.delivery-section {
    height: 500px;
    background: url(https://cdn.thescoop.co.kr/news/photo/202207/54741_81034_3719.jpg)fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.text-container {
    position: relative;
}

h1, .p_animation {
    font-size: 3em;
    width: 300px;
    margin-top: 40px;
    color:#F0FFFF;
    font-family: "IBM Plex Sans KR", sans-serif;
    position: absolute;
    left: 120px;
    animation: slide 1s ease-out;
}

.p_animation {
    font-size: 20px;
    width: 700px;
    margin-top: 100px;
}

.line-break-space {
    display: block;
    height: 13px; 
}


@keyframes slide {
    from {
        left: -100px;
        opacity: 0;
    }
    to {
        left: 120px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        left: 120px;
        opacity: 1;
    }
    to {
        left: -100px;
        opacity: 0;
    }
}

/* 특가 */
.price-box {
    margin-top: 10px;
    align-items: baseline; 
    margin-top: 10px;
}

.original-price {
    text-decoration: line-through;
    color: gray; 
    margin-right: 7px; 
}

.discount {
    display: flex; 
    align-items: baseline; 
}

.discount-rate {
    color: red; 
    font-weight: bold; 
}

.discount-price {
    color: black; 
    font-weight: bold; 
    margin-left: 5px; 
}

/* 배너 */
.banner-section {
    padding-top: 30px;
    margin: 30px 0;
}

.banner-image {
    width: 100%;
}


.banner-image img {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover; 
}

/* footer */
footer {
    background-color: #5f0080;
    font-size: 15px;
    margin-top: 100px; 
}

.first-line {
    color: white;
    border-bottom: 1px solid white;
}

.second-line a {
    color: white;
    text-decoration: none;
}

.second-line a:hover {
    color: #FBF3D5;
}

.white-text {
    color: white;
}

.col {
    padding-bottom: 1rem;
}

.flag-img {
    margin: 0 0.5rem;
}

/* 카드 두 개씩 보이게 */
@media screen and (max-width: 780px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* 카드 한 개씩 보이게 */
@media screen and (max-width: 550px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 48rem) {
    .first-line {
        text-align: center;
    }
    .second-line {
        padding: 0 2rem;
    }   
    .flag {
        display: none;
    }    
}
